body {
    background-color:black;

}

img.symbol{
    width:200px;
    float:left;
    height:400px;
}

.info{
 top:10px;
 float:left;
 margin:5px;
 position: absolute;
}

.board{
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    text-align: center;
    font-family: 'Bahiana', cursive;
    font-size: 3em;
}

.mid{
    text-align: center;
}

.title{

font-family: 'Bahiana', cursive;
}
.videourl{
    
}
.videobox
{
    width:100%;
    z-index:0;
    top:0;
    position: absolute;
}